nav {
    /* display: flex; */
    position: fixed;
    height: 100%;
    width: 50px;
    /* background-color: #aaa; */
    border-radius: 5px;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    display: flex;
    text-decoration: none;
    color: black;

    * {
        font-size: 50px;
    }

}

.active {
    color: white;
    background-color: var(--background-color);
}