nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 1px solid black;
    width: 50px;
    border-radius: 5px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 40px;
        text-decoration: none;
    }
}

.active {
    background-color: #007bff;
    color: white;

    & a {
        color: white;
    }
}