.table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    text-align: center;
}

.table tr {
    width: 100%;
}

.table th,
td {
    border: 1px solid #000;
    padding: 1px 20px;
}

.table th {
    text-transform: capitalize;
    font-weight: bold;
}